html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-margin-top:80px;
}

body {
  cursor: none !important;
}

::-webkit-scrollbar {
  display: none;
}
/* */
body {
  -ms-overflow-style: none;  
  scrollbar-width: none;
}




