body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

body, html, #app {
  cursor: none !important;
}


::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

html {
  scroll-behavior: smooth;
}

html, body {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory; 
  height: 100vh;
  overflow-y: scroll;
}

section {
  scroll-snap-align: start; 
  height: 100vh; }

 
#skills{
  scroll-margin-top: 20px;
}  
#projects {
  scroll-margin-top: 80px;
}